

/*------------ VARIABLES --------------*/

[data-theme="light-mode"] {
    --body-bg-color: rgb(255, 255, 255);
    --box-shadow: rgba(0, 0, 0, 0.152);
    --text-color: rgba(0, 0, 0, 0.93);
    --faded-text-color: rgb(116, 112, 130);
    --toggle-bg-color: rgba(204, 204, 204, 0.314);
    --all-border-color: rgba(0, 0, 0, 0.136);
    --container-bg-color: rgba(233, 228, 228, 0.471);
    --read-time-display-color: rgb(17, 0, 255);
    --input-bg-color: rgba(6, 101, 218, 0.053);
    --input-text-color: rgba(0, 0, 0, 0.862);
    --reset-btn-bg-color: rgba(144, 140, 140, 0.11);
    --reset-btn-bg-hover-color: rgba(177, 176, 176, 0.407);
}

[data-theme="dark-mode"] {
    --body-bg-color: rgb(2, 2, 18);
    --box-shadow: rgba(234, 225, 225, 0.163);
    --text-color: rgba(255, 255, 255, 0.955);
    --faded-text-color: rgb(149, 149, 158);
    --toggle-bg-color: rgba(204, 204, 204, 0.105);
    --all-border-color: rgba(201, 198, 198, 0.227);
    --read-time-display-color: rgb(0, 251, 255);
    --input-bg-color: rgb(18, 18, 42);
    --input-text-color: rgb(255, 255, 255);
    --reset-btn-bg-color: rgba(206, 203, 203, 0.068);
    --reset-btn-bg-hover-color: rgba(177, 176, 176, 0.204);
}

/*------------ Styles --------------*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--body-bg-color);
    transition: all .3s ease-in-out;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-bg-color);
    border: 2px solid var(--all-border-color);
    border-radius: 5px;
    box-shadow: 0 4px 6px var(--box-shadow);
}

.logo-container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0;
}

.logo-container img {
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
}

.logo-container h2 {
    font-size: 1.8rem;
    color: var(--text-color);
}

#theme-toggle-wrapper {
    width: 65px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid var(--all-border-color);
    border-radius: 50px;
    background-color: var(--toggle-bg-color);
    margin-right: 20px;
    cursor: pointer;
}

.path {
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

#theme-toggle-wrapper.active .path {
    background-color: rgb(7, 210, 7);
    transform: translateX(30px);
}

main {
    width: 60%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: var(--text-color);
    width: 70%;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 80px;
}

#text-input {
    min-width: 80%;
    max-width: 80%;
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
    padding: 15px;
    color: var(--input-text-color);
    border: 1px solid var(--all-border-color);
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 20px;
    background-color: var(--input-bg-color);
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83%;
    padding: 0;
    margin-top: 10px;
}

#checkbox-with-space,
#checkbox-without-space {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 30px;
    font-size: 40px;
    margin-right: 0;
    cursor: pointer;
}
.with-space-container label,
.without-space-container label{
    cursor: pointer;
}

label {
    margin-left: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--faded-text-color);
}

#read-time-display {
    width: 150px;
    padding: 4px;
    color: red;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(20, 20, 20, 0.278);
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    display: none;
    padding: 30px;
    font-size: 18px;
}

.modal.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 85%;
    margin-top: 40px;
}

#counter-btn {
    width: 25%;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    background-color:#0066ff;
    color: white;
    transition: all 0.3s ease-in-out;
}

#counter-btn:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(251, 153, 6);
}

#counter-reset-btn {
    width: 20%;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid var(--all-border-color);
    border-radius: 50px;
    background-color: var(--reset-btn-bg-color);
    color: var(--text-color);
    transition: all 0.5s ease;
    cursor: pointer;
}

#counter-reset-btn:hover {
    background-color: var(--reset-btn-bg-hover-color);
}

.read-time-container {
    display: flex;
    align-items: center;
}

#reading-time-display {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    color: var(--read-time-display-color);
    background-color: rgba(151, 151, 151, 0.159);
    margin-left: 5px;
    margin-right: 5px;
}

.div-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 40px;
    border-radius: 3px;
}

.sub-div-1,
.sub-div-2,
.sub-div-3,
.sub-div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 12rem;
    height: 8rem;
    padding: 10px;
    margin: 5px;
    border: var(--container-border);
    border-radius: 5px;
    box-shadow: 2px 4px 8px var(--box-shadow);
}

.sub-div-1{
    background-image: linear-gradient(45deg, #ffe53b49, #ff252546);
    background-size: 80px 80px;
}

.sub-div-2{
    background-image: linear-gradient(0deg, #3bffba49, #25f0ff20);
    background-size: 50px 50px;
}

.sub-div-3{
    background-image: linear-gradient(to right, #ffae0030, #ffbf004c);
    background-size: 60px 60px;
}

.sub-div-4{
    background-image: linear-gradient(to right, #00ffe530, #03020025);
    background-size: 60px 60px;
}

.sub-div-4 div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin-bottom: 0;
}

span {
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}

.div-container div p {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--faded-text-color);
}

/*------------------------------------------------

                RESPONSIVENES

--------------------------------------------------*/
@media (max-width: 768px) {
    nav{
        margin-top: 0;
    }

    .logo-container {
        width: 45%;
    }

    .logo-container h2 {
        font-size: 1.2rem;
    }
    
    #theme-toggle-wrapper {
        width: 45px;
        height: 25px;
    }
    
    .path {
        width: 20px;
        height: 20px;
    }
    
    #theme-toggle-wrapper.active .path {
        transform: translateX(20px);
    }
    
    main {
        width: 90%;
    }

    h1 {
        width: 100%;
        font-size: 2.5rem;
    }

    #text-input {
        min-width: 100%;
        max-width: 100%;
        min-height: 150px;
        max-height: 150px;
        overflow: auto;
        font-size: 16px;
    }

    .modal{
        width: 60%;
    }

    .checkbox-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        width: 110%;
    }

    .read-time-container {
        width: 100%;
    }

    label,
    .sub-div-1 p,
    .sub-div-2 p,
    .sub-div-3  p,
    .sub-div-4 p {
        font-size: 14px;
    }

    .button-container {
        display: flex;
        width: 110%;
        margin-top: 20px;
    }

    #counter-btn {
        width: 50%;
        font-size: 1.2rem;
        padding: 15px;
    }
    
    #counter-reset-btn {
        width: 40%;
        font-size: 1.2rem;
        padding: 15px;
    }

    .div-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 105%;
    }
    
    .div-container div {
        width: 100%;
    }

    #reading-time-display {
        font-size: 14px;
        width: auto;
    }

    span {
        font-size: 3rem;
    }

    .sub-div-4 div{
        width: auto;
    }
}